# Problem Statement

The business was facing issues in understanding how users are searching for products on the website. 
Many searches were giving zero or very few results, which means users were not finding what they wanted.
The company also did not clearly know which keywords, categories, brands, price ranges, and ratings were most important to customers. 
Because of this, the business could lose customers and sales due to poor search experience.

In [1]:
# Importing libraries for numerical calculation and data manipulation
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("E-Commerce Analytics Vendor.csv")
df

,Search ID,Customer Name,Customer Email,IP Address,Search Keyword,Brands,Categories,Collections,Attributes,Min Price,Max Price,Min Rating,Total Results,Search Date
0,cmhz6h2u105f3ncvsv3hzo9o7,Anonymous,NaN,"49.47.141.174, 206.189.138.167",Beauty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,326,Fri Nov 14 2025 18:15:00 GMT+0000 (Coordinated...
1,cmhz6h3kr0763ncbnbgfotqga,Anonymous,NaN,"49.47.141.174, 206.189.138.167",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,412,Fri Nov 14 2025 18:15:01 GMT+0000 (Coordinated...
2,cmhz6h4bh051wnc2vi7zd5i72,Anonymous,NaN,"49.47.141.174, 206.189.138.167",I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,412,Fri Nov 14 2025 18:15:02 GMT+0000 (Coordinated...
3,cmhz6h4qr0511nc68qdzf6ih5,Anonymous,NaN,"49.47.141.174, 206.189.138.167",Isn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,Fri Nov 14 2025 18:15:02 GMT+0000 (Coordinated...
4,cmhz6h54h051xnc2v898rve3d,Anonymous,NaN,"49.47.141.174, 206.189.138.167",Isnt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,Fri Nov 14 2025 18:15:03 GMT+0000 (Coordinated...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
843181,cmim1ik7u003encbu8k485ij2,Anonymous,NaN,"152.59.150.134, 206.189.138.167",NaN,NaN,black-friday-sale,NaN,NaN,NaN,NaN,NaN,157,Sun Nov 30 2025 18:14:53 GMT+0000 (Coordinated...
843182,cmim1ikpi0042nc55b6ccl094,Anonymous,NaN,"223.187.254.83, 206.189.138.167",Oily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109,Sun Nov 30 2025 18:14:54 GMT+0000 (Coordinated...
843183,cmim1il6h003ance35sn6i2op,Anonymous,NaN,"223.187.254.83, 206.189.138.167",Oily s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,Sun Nov 30 2025 18:14:54 GMT+0000 (Coordinated...
843184,cmim1im2s003bnce3xsbfbsvr,Anonymous,NaN,"223.187.254.83, 206.189.138.167",Oily skin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,Sun Nov 30 2025 18:14:56 GMT+0000 (Coordinated...
843185,cmim1inwk003cnc962v6k5u0h,Anonymous,NaN,"157.51.36.123, 206.189.138.167",NaN,NaN,moisturiser,NaN,NaN,NaN,NaN,NaN,53,Sun Nov 30 2025 18:14:58 GMT+0000 (Coordinated...

# Data Understanding and Cleaning

In [3]:
df.head(10)

,Search ID,Customer Name,Customer Email,IP Address,Search Keyword,Brands,Categories,Collections,Attributes,Min Price,Max Price,Min Rating,Total Results,Search Date
0,cmhz6h2u105f3ncvsv3hzo9o7,Anonymous,NaN,"49.47.141.174, 206.189.138.167",Beauty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,326,Fri Nov 14 2025 18:15:00 GMT+0000 (Coordinated...
1,cmhz6h3kr0763ncbnbgfotqga,Anonymous,NaN,"49.47.141.174, 206.189.138.167",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,412,Fri Nov 14 2025 18:15:01 GMT+0000 (Coordinated...
2,cmhz6h4bh051wnc2vi7zd5i72,Anonymous,NaN,"49.47.141.174, 206.189.138.167",I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,412,Fri Nov 14 2025 18:15:02 GMT+0000 (Coordinated...
3,cmhz6h4qr0511nc68qdzf6ih5,Anonymous,NaN,"49.47.141.174, 206.189.138.167",Isn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,Fri Nov 14 2025 18:15:02 GMT+0000 (Coordinated...
4,cmhz6h54h051xnc2v898rve3d,Anonymous,NaN,"49.47.141.174, 206.189.138.167",Isnt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,Fri Nov 14 2025 18:15:03 GMT+0000 (Coordinated...
5,cmhz6h5a20764ncbnue8znv50,Anonymous,NaN,157.119.203.179,NaN,lilybyred,NaN,NaN,NaN,NaN,NaN,NaN,10,Fri Nov 14 2025 18:15:03 GMT+0000 (Coordinated...
6,cmhz6h6al05grncwjjjvg4zqo,Anonymous,NaN,"49.47.141.174, 206.189.138.167",Isntree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,Fri Nov 14 2025 18:15:04 GMT+0000 (Coordinated...
7,cmhz6h7d207ezncdsa68i8w4v,Anonymous,NaN,"49.47.141.174, 206.189.138.167",Isntree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,Fri Nov 14 2025 18:15:06 GMT+0000 (Coordinated...
8,cmhz6h7v60765ncbnv8uaswyz,Anonymous,NaN,"104.28.37.116, 206.189.138.167",NaN,axis-y,NaN,NaN,NaN,NaN,NaN,NaN,15,Fri Nov 14 2025 18:15:07 GMT+0000 (Coordinated...
9,cmhz6h87c05f4ncvs7nopefmu,Anonymous,NaN,"49.47.141.174, 206.189.138.167",Isntree su,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,Fri Nov 14 2025 18:15:07 GMT+0000 (Coordinated...

In [4]:
df.shape

(843186, 14)

# Cleaning Column Names

In [6]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)
df.columns.tolist()

['search_id',
 'customer_name',
 'customer_email',
 'ip_address',
 'search_keyword',
 'brands',
 'categories',
 'collections',
 'attributes',
 'min_price',
 'max_price',
 'min_rating',
 'total_results',
 'search_date']

# Remove Completely Empty Keywords

In [8]:
df = df[df["search_keyword"].notna()]
df.shape

(344363, 14)

# Clean Search Keyword Text

In [10]:
df["search_keyword"] = (
    df["search_keyword"]
    .str.lower()
    .str.strip()
)

# Cleaning Date Column

In [12]:
df["search_date"].head(3)

0    Fri Nov 14 2025 18:15:00 GMT+0000 (Coordinated...
2    Fri Nov 14 2025 18:15:02 GMT+0000 (Coordinated...
3    Fri Nov 14 2025 18:15:02 GMT+0000 (Coordinated...
Name: search_date, dtype: object

In [13]:
# Removing From GMT till end
df["search_date_clean"] = df["search_date"].str.replace(
    r" GMT.*", "", 
    regex=True
)

In [14]:
df["search_date_clean"].head(3)

0    Fri Nov 14 2025 18:15:00
2    Fri Nov 14 2025 18:15:02
3    Fri Nov 14 2025 18:15:02
Name: search_date_clean, dtype: object

In [15]:
# Converting to a proper DateTime Format
df["search_date_dt"] = pd.to_datetime(
    df["search_date_clean"],
    format="%a %b %d %Y %H:%M:%S",
    errors="coerce"
)

In [16]:
print(df["search_date_dt"])

0        2025-11-14 18:15:00
2        2025-11-14 18:15:02
3        2025-11-14 18:15:02
4        2025-11-14 18:15:03
6        2025-11-14 18:15:04
                 ...
843176   2025-11-30 18:14:48
843180   2025-11-30 18:14:53
843182   2025-11-30 18:14:54
843183   2025-11-30 18:14:54
843184   2025-11-30 18:14:56
Name: search_date_dt, Length: 344363, dtype: datetime64[ns]

In [17]:
df["search_date"] = df["search_date_dt"]
df = df.drop(columns=["search_date_clean", "search_date_dt"])

In [18]:
df["week"] = df["search_date"].dt.to_period("W").astype(str)

In [38]:
df[["search_keyword", "search_date"]].head(10)

    search_keyword         search_date
0           beauty 2025-11-14 18:15:00
2                i 2025-11-14 18:15:02
3              isn 2025-11-14 18:15:02
4             isnt 2025-11-14 18:15:03
6          isntree 2025-11-14 18:15:04
7          isntree 2025-11-14 18:15:06
9       isntree su 2025-11-14 18:15:07
11     isntree sun 2025-11-14 18:15:08
12  isntree sun ge 2025-11-14 18:15:10
13           lip t 2025-11-14 18:15:11

In [36]:
df["week"].head(10)

0     2025-11-10/2025-11-16
2     2025-11-10/2025-11-16
3     2025-11-10/2025-11-16
4     2025-11-10/2025-11-16
6     2025-11-10/2025-11-16
7     2025-11-10/2025-11-16
9     2025-11-10/2025-11-16
11    2025-11-10/2025-11-16
12    2025-11-10/2025-11-16
13    2025-11-10/2025-11-16
Name: week, dtype: object

# KPI 1: Zero-Result Searches (Metric #3)

In [41]:
zero_result_kpi = (
    df[df["total_results"] == 0]
    .groupby("week")
    .size()
    .reset_index(name="zero_result_searches")
)

zero_result_kpi

                    week  zero_result_searches
0  2025-11-10/2025-11-16                  5541
1  2025-11-17/2025-11-23                 29654
2  2025-11-24/2025-11-30                 24931

This table shows a sharp increase in zero-result searches in mid to late November, 
indicating significant catalog or search optimization gaps that likely caused user drop-offs and lost revenue.

# KPI-2: Low-Result Searches (< 3 results)

In [44]:
low_result_kpi = (
    df[df["total_results"] < 3]
    .groupby("week")
    .size()
    .reset_index(name="low_result_searches")
)

low_result_kpi

                    week  low_result_searches
0  2025-11-10/2025-11-16                 7032
1  2025-11-17/2025-11-23                38078
2  2025-11-24/2025-11-30                31856

Low-result searches increased sharply from 7,032 in the week of Nov 10–16 to 38,078 in Nov 17–23. 
This shows that many users were finding very few product options for their searches. Although it reduced slightly in the last week,
it still remains very high. This indicates a need to improve product availability and search matching.

# KPI-3: Search Fail Rate

In [47]:
weekly_total = (
    df.groupby("week")
      .size()
      .reset_index(name="total_searches")
)

weekly_zero = (
    df[df["total_results"] == 0]
    .groupby("week")
    .size()
    .reset_index(name="zero_searches")
)

weekly_low = (
    df[df["total_results"] < 3]
    .groupby("week")
    .size()
    .reset_index(name="low_searches")
)

fail_rate = weekly_total.merge(weekly_zero, on="week", how="left") \
                        .merge(weekly_low, on="week", how="left")

fail_rate[["zero_searches", "low_searches"]] = fail_rate[["zero_searches", "low_searches"]].fillna(0)

fail_rate["search_fail_rate"] = (
    (fail_rate["zero_searches"] + fail_rate["low_searches"])
    / fail_rate["total_searches"]
)

print(fail_rate)

                    week  total_searches  zero_searches  low_searches  \
0  2025-11-10/2025-11-16           30418           5541          7032
1  2025-11-17/2025-11-23          175018          29654         38078
2  2025-11-24/2025-11-30          138927          24931         31856

   search_fail_rate
0          0.413341
1          0.387000
2          0.408754

The search fail rate is very high across all three weeks, staying between 38% and 41%. 
This means that around 4 out of 10 user searches are not getting proper results. 
Even though the total search volume increased heavily in the second week, the failure rate remained high.
This indicates serious issues in product availability or search relevance that can directly impact sales and user experience.

In [51]:
df.head(5)

,search_id,customer_name,customer_email,ip_address,search_keyword,brands,categories,collections,attributes,min_price,max_price,min_rating,total_results,search_date,week
0,cmhz6h2u105f3ncvsv3hzo9o7,Anonymous,NaN,"49.47.141.174, 206.189.138.167",beauty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,326,2025-11-14 18:15:00,2025-11-10/2025-11-16
2,cmhz6h4bh051wnc2vi7zd5i72,Anonymous,NaN,"49.47.141.174, 206.189.138.167",i,NaN,NaN,NaN,NaN,NaN,NaN,NaN,412,2025-11-14 18:15:02,2025-11-10/2025-11-16
3,cmhz6h4qr0511nc68qdzf6ih5,Anonymous,NaN,"49.47.141.174, 206.189.138.167",isn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,2025-11-14 18:15:02,2025-11-10/2025-11-16
4,cmhz6h54h051xnc2v898rve3d,Anonymous,NaN,"49.47.141.174, 206.189.138.167",isnt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,2025-11-14 18:15:03,2025-11-10/2025-11-16
6,cmhz6h6al05grncwjjjvg4zqo,Anonymous,NaN,"49.47.141.174, 206.189.138.167",isntree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,2025-11-14 18:15:04,2025-11-10/2025-11-16

# KPI-4: Trending Keywords (Week-over-Week Growth)

In [54]:
weekly_keyword_volume = (
    df.groupby(["week", "search_keyword"])
      .size()
      .reset_index(name="search_count")
      .sort_values(["search_keyword", "week"])
)

weekly_keyword_volume.head(10)

                        week               search_keyword  search_count
6694   2025-11-17/2025-11-23                       ! unik             1
6695   2025-11-17/2025-11-23                        !unik             1
33217  2025-11-24/2025-11-30                            &             1
33218  2025-11-24/2025-11-30  &done shampoo & conditioner             1
6696   2025-11-17/2025-11-23                       &homey             1
6697   2025-11-17/2025-11-23                       &honey             4
33219  2025-11-24/2025-11-30                       &honey             2
33220  2025-11-24/2025-11-30               &honey shampoo             1
6698   2025-11-17/2025-11-23                            )             1
0      2025-11-10/2025-11-16                            ,             1

# Calculate Week-over-Week (WoW) Growth

In [57]:
weekly_keyword_volume["prev_week_count"] = (
    weekly_keyword_volume
    .groupby("search_keyword")["search_count"]
    .shift(1)
)

weekly_keyword_volume["wow_growth"] = (
    (weekly_keyword_volume["search_count"] - weekly_keyword_volume["prev_week_count"])
    / weekly_keyword_volume["prev_week_count"]
)

In [63]:
trending_keywords = (
    weekly_keyword_volume
    .dropna(subset=["wow_growth"])
    .sort_values(by="wow_growth", ascending=False)
)

trending_keywords.head(10)

,week,search_keyword,search_count,prev_week_count,wow_growth
44097,2025-11-24/2025-11-30,house,346,4.0,85.500000
30718,2025-11-17/2025-11-23,sunscreen stick,63,1.0,62.000000
23904,2025-11-17/2025-11-23,mandelic,49,1.0,48.000000
19532,2025-11-17/2025-11-23,hya,48,1.0,47.000000
14019,2025-11-17/2025-11-23,cosrx all,48,1.0,47.000000
37105,2025-11-24/2025-11-30,bundles,287,6.0,46.833333
12394,2025-11-17/2025-11-23,cleansers,516,11.0,45.909091
19538,2025-11-17/2025-11-23,hyal,41,1.0,40.000000
7582,2025-11-17/2025-11-23,all in one,38,1.0,37.000000
19556,2025-11-17/2025-11-23,hyalu,38,1.0,37.000000

Several keywords showed very strong week-over-week growth, indicating rising user interest. 
The keyword “house” jumped sharply from 4 to 346 searches, making it the top trending term. 
Skincare-related terms like “sunscreen stick”, “mandelic”, and “cleansers” also showed high growth.
This indicates a strong increase in demand for skincare and bundled products during this period.

# KPI-5: Weekly Search Trend

In [66]:
weekly_trend = (
    df.groupby("week")
      .size()
      .reset_index(name="total_searches")
      .sort_values("week")
)

weekly_trend

                    week  total_searches
0  2025-11-10/2025-11-16           30418
1  2025-11-17/2025-11-23          175018
2  2025-11-24/2025-11-30          138927

Total searches increased very sharply from 30,418 in the first week to 175,018 in the second week, 
showing a huge rise in user activity. In the third week, searches dropped to 138,927 but still remained much higher than the first week. 
This indicates a strong surge of interest in mid-November. The slight drop later suggests the demand started to stabilize.

# KPI-6: Category Search Demand

In [69]:
df["categories"] = df["categories"].fillna("Unknown")

In [73]:
category_demand = (
    df.groupby("categories")
      .size()
      .reset_index(name="search_count")
      .sort_values(by="search_count", ascending=False)
)

category_demand

             categories  search_count
1               Unknown        333698
4     black-friday-sale          5007
0        40-percent-off          1405
3   anti-aging-wrinkles          1224
2                  acne          1030
7               dryness           565
10    oil-control-pores           486
11         pigmentation           424
9          makeup-tools           214
12              redness           206
6       deal-of-the-day            99
8             hair-care             4
5             body-care             1

Most searches fall under the “Unknown” category, which shows that a large number of search queries are not properly mapped to any category. 
Among the mapped categories, “Black Friday Sale” has the highest demand, indicating strong interest in discounts.
Skin-related categories like “Acne”, “Anti-aging”, and “Dryness” also have high search demand.
This shows users are mainly focused on skincare needs and promotional offers.

# KPI-7: Brand Search Demand

In [77]:
df["brands"] = df["brands"].fillna("Unknown")

In [81]:
brand_demand = (
    df.groupby("brands")
      .size()
      .reset_index(name="search_count")
      .sort_values(by="search_count", ascending=False)
)

brand_demand.head(10)

              brands  search_count
3            Unknown        332838
17             cosrx          3286
5   beauty-of-joseon          1707
15           celimax          1350
52     the-face-shop           798
4             axis-y           703
32           im-from           664
47   skin1004-brands           507
30    house-of-dohwa           476
41         lilybyred           461

Most searches fall under “Unknown”, which means many users are searching without a specific brand in mind.
Among known brands, “COSRX” has the highest search demand, followed by “Beauty of Joseon” and “Celimax”. 
This shows strong user interest in Korean skincare brands. These brands are good candidates for promotions and partnerships.

# KPI-8: Price Intent (User Price Preference)

In [84]:
df["min_price"] = pd.to_numeric(df["min_price"], errors="coerce")
df["max_price"] = pd.to_numeric(df["max_price"], errors="coerce")

In [90]:
# Creating Average Price Intent per Search
df["avg_price_intent"] = df[["min_price", "max_price"]].mean(axis=1)

In [92]:
# Create Price Buckets (Low / Medium / High)
df["price_segment"] = pd.cut(
    df["avg_price_intent"],
    bins=[0, 300, 800, 2000, 100000],
    labels=["Low Budget", "Mid Budget", "High Budget", "Premium"]
)

In [94]:
# Price Intent Distribution
price_intent_kpi = (
    df.groupby("price_segment")
      .size()
      .reset_index(name="search_count")
      .sort_values(by="search_count", ascending=False)
)

price_intent_kpi

  price_segment  search_count
1    Mid Budget           168
0    Low Budget            61
2   High Budget            52
3       Premium             0

In [ ]:
Most users fall under the Mid Budget segment, showing that customers mainly search for moderately priced products.
Low Budget searches are fewer, which means price-sensitive users are present but not dominant.
High Budget interest is limited, and there are almost no searches in the Premium range. 
This suggests the platform mainly attracts value-for-money customers.

# KPI-9: Rating Preference

In [97]:
df["min_rating"] = pd.to_numeric(df["min_rating"], errors="coerce")

In [99]:
# Distributing Ratings into Buckets
df["rating_segment"] = pd.cut(
    df["min_rating"],
    bins=[0, 2, 3, 4, 5],
    labels=["Low Rating (0–2)", "Average (2–3)", "Good (3–4)", "Excellent (4–5)"]
)

In [101]:
rating_pref_kpi = (
    df.groupby("rating_segment")
      .size()
      .reset_index(name="search_count")
      .sort_values(by="search_count", ascending=False)
)

rating_pref_kpi

     rating_segment  search_count
2        Good (3–4)            41
3   Excellent (4–5)            30
0  Low Rating (0–2)             7
1     Average (2–3)             0

Most users prefer products with Good (3–4) and Excellent (4–5) ratings, 
which shows a strong focus on quality. Very few users search for low-rated products. 
There is almost no interest in average-rated products. 
This indicates that users trust and actively look for well-reviewed products.

In [103]:
df.head()

,search_id,customer_name,customer_email,ip_address,search_keyword,brands,categories,collections,attributes,min_price,max_price,min_rating,total_results,search_date,week,avg_price_intent,price_segment,rating_segment
0,cmhz6h2u105f3ncvsv3hzo9o7,Anonymous,NaN,"49.47.141.174, 206.189.138.167",beauty,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,326,2025-11-14 18:15:00,2025-11-10/2025-11-16,NaN,NaN,NaN
2,cmhz6h4bh051wnc2vi7zd5i72,Anonymous,NaN,"49.47.141.174, 206.189.138.167",i,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,412,2025-11-14 18:15:02,2025-11-10/2025-11-16,NaN,NaN,NaN
3,cmhz6h4qr0511nc68qdzf6ih5,Anonymous,NaN,"49.47.141.174, 206.189.138.167",isn,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,32,2025-11-14 18:15:02,2025-11-10/2025-11-16,NaN,NaN,NaN
4,cmhz6h54h051xnc2v898rve3d,Anonymous,NaN,"49.47.141.174, 206.189.138.167",isnt,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,29,2025-11-14 18:15:03,2025-11-10/2025-11-16,NaN,NaN,NaN
6,cmhz6h6al05grncwjjjvg4zqo,Anonymous,NaN,"49.47.141.174, 206.189.138.167",isntree,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,29,2025-11-14 18:15:04,2025-11-10/2025-11-16,NaN,NaN,NaN

In [105]:
# Exporting Cleaned Data
df.to_csv("final_cleaned_ecommerce_search_data.csv", index=False)

# Conclusion

From this analysis, we found that a large number of searches fail due to zero or low results,
which shows strong gaps in product availability and search relevance. Users mainly search for mid-budget and well-rated products, 
and skincare-related categories and brands have the highest demand. 
Several keywords showed sharp week-over-week growth, indicating changing customer interests. 
By improving the search system, filling missing product gaps, and focusing on high-demand categories and brands, 
the business can improve user experience and increase sales.